{% extends 'base.html.twig' %}

{% block title %}Modifier saison{% endblock %}

{% block body %}
    <div class="container bg-lighttt pt-5">
        <h1>Modifier saison</h1>

        {{ include('back/season/_form.html.twig', {'button_label': 'Valider'}) }}

        <a href="{{ path('back_season_index') }} " class="btn btn-outline-dark mb-2"><i class="bi bi-arrow-return-left"></i> Retour à la liste</a>
        
        {{ include('back/season/_delete_form.html.twig') }}
    </div>
{% endblock %}
