{% extends 'base.html.twig' %}

{% block body %}


<div class="container bg-lighttt pt-5">
    <div class="d-flex">
        <h3>Gestion des films</h3>
        <a href="{{ path('back_movie_index') }} " class="btn btn-outline-dark mx-3"><i class="bi bi-arrow-return-right"></i> Films-Séries</a>
    </div>
    <div class="d-flex my-5">
        <h3>Gestion des saisons</h3>
        <a href="{{ path('back_season_index') }} " class="btn btn-outline-dark mx-3"><i class="bi bi-arrow-return-right"></i> Saisons</a>
    </div>

    <div class="d-flex my-5">
        <h3>Gestion des castings</h3>
        <a href="{{ path('back_casting_index') }} " class="btn btn-outline-dark mx-3"><i class="bi bi-arrow-return-right"></i> Castings</a>
    </div>
    <div class="d-flex my-5">
        <h3>Gestion des utilisateurs</h3>
        <a href="{{ path('back_user_index') }} " class="btn btn-outline-dark mx-3"><i class="bi bi-arrow-return-right"></i> Utilisateurs</a>
    </div>
</div>
{% endblock %}
